.sidenav-container
  background-color: rgba(255,255,255,1)
  height: 100%
  .sidenav
    width: 256px
    //border-right: 1px rgba(239,239,239,1) solid
    &.mat-drawer
      background-color: rgba(247,247,247,1)
      color: rgba(8,8,8,1)

.mat-toolbar.mat-primary
  position: sticky
  top: 0

.mat-nav-list
  padding: 0
  .mat-icon
    padding: 0 8px 0 0
  .mat-list-item
    color: rgba(8,8,8,1)
    font-size: 14px
    height: 42px
    line-height: 42px
    &:hover
      background-color: rgba(239,239,239,1)
    &--active
      background-color: rgba(239,239,239,1)
      font-weight: bold

h1
  border-bottom: 1px rgba(239,239,239,1) solid
  font-family: Roboto,"Helvetica Neue",sans-serif
  font-size: 18px
  margin: 0
  padding: 16px

h2
  border-top: 1px rgba(239,239,239,1) solid
  color: rgba(0,0,0,.5)
  font-family: Roboto,"Helvetica Neue",sans-serif
  font-size: 16px
  font-weight: bold
  margin: 0
  padding: 16px 16px 8px 16px

.mat-sidenav-content
  position: fixed
  top: 0px
  bottom: 0px