<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <h1>Moniq</h1>
    <mat-nav-list>
      <a mat-list-item href="#"><mat-icon>list</mat-icon>All</a>
      <a mat-list-item href="#"><mat-icon>inbox</mat-icon>Inbox</a>
      <a mat-list-item href="#"><mat-icon>favorite_outline</mat-icon>Favorites</a>
      <a mat-list-item href="#"><mat-icon>delete_outline</mat-icon>Trash</a>
    </mat-nav-list>
    <h2>Collections</h2>
    <mat-nav-list>
        <a mat-list-item href="#"><mat-icon>folder_outline</mat-icon>Collection 1</a>
        <a mat-list-item href="#"><mat-icon>folder_outline</mat-icon>Collection 2</a>
        <a mat-list-item href="#"><mat-icon>folder_outline</mat-icon>Collection 3</a>
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
